<h1> <%= @post.title %> </h1>

<%= @post.text %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p><%= time_ago_in_words(comment.created_at) %> ago</p>
  <p><%= link_to "Delete comment", [@post, comment], :method => :delete, :confirm => "Are you sure?" %></p>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <p><%= f.text_area :text, :size => '50x15' %></p>
  <p><%= f.submit "Post comment" %></p>
  <% end %>

<p>
|
<%= link_to "<button>Back</button>".html_safe, posts_path, :id=>"open-contacts-dialog-btn" %>
|
<%= link_to "<button>Edit</button>".html_safe, edit_post_path(@post), :id=>"open-contacts-dialog-btn" %>
|
<%= link_to "<button>Delete post</button>".html_safe, @post, :method => :delete, :confirm => "Are you sure?", :id=>"open-contacts-dialog-btn" %>
|
</p>

